.heroContainer {
  margin: 0 auto 15vh;
  width: 60%;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}

.textContainer {
  padding-top: 3rem;
  width: 50%;
  & h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
    line-height: 1.2;
    color: hsl(255, 11%, 22%);
  }

  & h4 {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: hsl(257, 7%, 63%);
    font-weight: 300;
    width: 70%;
  }

  & button {
    background-color: hsl(180, 66%, 49%);
    border: none;
    outline: none;
    padding: 6px 22px;
    border-radius: 15px;
    color: #fff;
    font-size: 1.5rem;

    &:hover {
      background-color: hsl(180, 68%, 58%);
      cursor: pointer;
    }
  }
}

.heroImg {
  width: 55%;
}
