.container {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  height: 30vh;
  width: 50%;
  background-color: rgb(253, 253, 253);
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.226);
  padding: 1rem 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    45deg,
    rgba(47, 152, 156, 0.884) 10%,
    rgba(83, 15, 122, 0.856)
  );
  z-index: 1000;
}

i {
  color: hsl(255, 25%, 49%);
  transition: all 0.1s ease-in;
  &:hover {
    cursor: pointer;
    color: hsl(255, 46%, 68%);
    transform: rotate(90deg);
  }
}
