.container {
  background-color: #eff1f7;
  width: 100%;
  min-height: 90vh;
}

.textContainer {
  text-align: center;
  margin-top: 8rem;

  & h2 {
    font-size: 5rem;
    color: hsl(260, 8%, 14%);
    margin: 0;
  }

  & h4 {
    font-size: 1.4rem;
    color: hsl(257, 3%, 43%);
    font-weight: 200;
  }
}

.featureContainer {
  display: flex;
  margin: 8vh auto 0;
  width: 60%;
  justify-content: space-around;
}

@media (max-width: 1300px) {
  .featureContainer {
    width: 97%;
  }
}
