.footer {
  height: 40vh;
  width: 100%;
  background-color: hsl(260, 8%, 14%);
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.innerContainer {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.linksContainer {
  display: flex;
  width: 35%;
  justify-content: space-around;
}

.headline {
  color: #fff;
  font-size: 1.5rem;
}

.links {
  & h3 {
    color: hsl(257, 7%, 63%);
    font-size: 1.2rem;

    &:hover {
      color: hsl(180, 66%, 49%);
      cursor: pointer;
    }
  }
}

.socialContainer {
  display: flex;
  width: 15%;
  justify-content: space-between;
}

i {
  color: #fff;

  &:hover {
    color: hsl(180, 66%, 49%);
    cursor: pointer;
  }
}
