.formContainer {
  background-image: url('../../images/bg-boost-desktop.svg');
  height: 12vh;
  width: 50%;
  background-color: hsl(259, 36%, 25%);
  border-radius: 8px;
  margin: 6rem auto 0;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  transform: translateY(-50%);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.301);
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input {
  width: 60%;
  height: 5vh;
  padding: 12px 20px;
  border-radius: 5px;
  border: 2px solid rgb(240, 240, 240);
  outline: none;
  font-size: 1.4rem;
  background-color: rgb(240, 240, 240);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.226);
  &::placeholder {
    color: hsl(0, 0%, 69%);
  }

  &:focus {
    background-color: #fff;
    border: 2px solid rgb(255, 255, 255);
  }

  &:hover {
    background-color: #fff;
  }
}

.button {
  position: relative;
  color: #fff;
  background-color: hsl(180, 66%, 49%);
  padding: 6px 12px;
  height: 5vh;
  width: 12%;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1.4rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.226);

  &:hover {
    background-color: hsl(180, 68%, 58%);
    cursor: pointer;
  }
}

.error {
  border: 2px solid hsl(0, 87%, 67%);
  color: hsl(0, 87%, 67%);
  background-color: #fff;

  &::placeholder {
    color: hsl(0, 87%, 67%);
  }
}

.h5 {
  position: absolute;
  margin: 0;
  top: 75%;
  left: 10%;
  color: hsl(0, 87%, 67%);
  font-size: 1rem;
  font-weight: 200;
  font-style: italic;
}
