.boostContainer {
  height: 25vh;
  background-image: url('../../images/bg-boost-desktop.svg');
  background-size: cover;
  background-position: center;
  background-color: hsl(259, 36%, 25%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h2 {
  font-size: 4rem;
  color: #fff;
  margin: 2rem auto;
}

.btn {
  background-color: hsl(180, 66%, 49%);
  border: none;
  outline: none;
  margin-bottom: 2rem;
  padding: 6px 22px;
  border-radius: 15px;
  color: #fff;
  font-size: 1.5rem;

  &:hover {
    background-color: hsl(180, 68%, 58%);
    cursor: pointer;
  }
}
